<a href="https://www.fitbit.com/oauth2/authorize?client_id={{fitbit.clientId}}&response_type=code&redirect_uri={{fitbit.redirectUri}}&scope={{fitbit.scope}}">Connect to Fitbit</a>
<br>
<a href="https://www.strava.com/oauth/authorize?client_id={{strava.clientId}}&response_type=code&redirect_uri={{strava.redirectUri}}&scope={{strava.scope}}">Connect to Strava</a>